<div class="menu">
  <div class="content">
    <div class="icon">
      <a href="https://dixper.gg/streamers" target="_blank">
        <img src="../assets/images/dixper.png" alt="dota2" class="game-icon" />
      </a>
    </div>
    <div class="menu-list">
      <a><i class="fas fa-bars"></i>LOBBY</a>
      <a><i class="fas fa-user-plus"></i>PLAYERS</a>
      <a><i class="fas fa-users"></i>TEAMS</a>
    </div>
    <div class="login">
      <a class="button1">SIGN IN</a>
      <a class="button2">SIGN UP</a>
    </div>
  </div>
</div>
<div class="content2">
  <div class="games">
    <a href="http://es.dota2.com/" target="_blank">
      <img src="../assets/images/dota2.png" alt="dota2" class="game-icon" />
    </a>
    <a href="https://euw.leagueoflegends.com/es/" target="_blank">
      <img src="../assets/images/lol.png" alt="lol" class="game-icon" />
    </a>
    <a href="https://blog.counter-strike.net/" target="_blank">
      <img src="../assets/images/csgo.png" alt="csgo.png" class="game-icon" />
    </a>
    <a href="https://playoverwatch.com/es-es/" target="_blank">
      <img
        src="../assets/images/overwatch.png"
        alt="overwatch.png"
        class="game-icon"
      />
    </a>
    <a href="https://www.pubg.com/es/" target="_blank">
      <img src="../assets/images/pubg.png" alt="pubg.png" class="game-icon" />
    </a>
  </div>
  <div>
    <div id="text">
      <p>
        FIND OVER 82.524 <br />
        <span style="color: #fe575f">DOTA2</span> TEAMS
      </p>
    </div>
    <h2 class="hero">Select your hero</h2>
    <ul id="cards">
      <li *ngFor="let hero of heroes | async">
        <app-card class="card" [hero]="hero"></app-card>
      </li>
      <li class="rank"><img src="../assets/images/rank.PNG" alt="rank" /></li>
      <div class="next">
        <i class="fas fa-arrow-right"></i>
      </div>
    </ul>
  </div>
</div>
